flows (1).json
[{"id":"5b3be2d.fabbb1c","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"a339df7a.87926","type":"ui_template","z":"5b3be2d.fabbb1c","group":"d8596899.c56458","name":"12","order":1,"width":0,"height":0,"format":"<html lang=\"en\">\n    <body>\n        <div id=\"sawo-container\" style=\"height: 300px; width: 300px;\"></div>\n        <div id=\"countdown\"></div>\n        <script src=\"https://websdk.sawolabs.com/sawo.min.js\"></script>\n        <script>\n            var theScope = scope;\n            var config = {\n                containerID: \"sawo-container\",\n                identifierType: \"email\", // can be either 'email' or 'phone_number_sms'\n                apiKey: \"14f764cb-23a1-4729-9b18-66b9ddec04e7\", // add your api key here\n                onSuccess: (payload) => {\n                      theScope.send({payload:{payload}});\n                       //var timeleft = 8;\n                      //var downloadTimer = setInterval(function(){\n                     // if(timeleft <= 0){\n                      //clearInterval(downloadTimer);\n                      //document.getElementById(\"countdown\").innerHTML = \"Finished\";\n                      //         } else {\n                      //document.getElementById(\"countdown\").innerHTML =\" The door will close in few sec ---\" + timeleft + \" seconds remaining\";\n                      //              }\n                      //        timeleft -= 1;\n                      //              }, 1000);\n                     },\n                  };\n\n            var sawo = new Sawo(config);\n            sawo.showForm();\n\n        </script>\n        \n        \n    </body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":330,"y":100,"wires":[["41dafca5.8c61c4","e9ce5ee1.906d6","5bc25c54.e0b304"]]},{"id":"dddbe0f8.6b524","type":"inject","z":"5b3be2d.fabbb1c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Please verify yourself!!","payloadType":"str","x":100,"y":120,"wires":[["54d4ea9.edb2314"]]},{"id":"41dafca5.8c61c4","type":"debug","z":"5b3be2d.fabbb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":60,"wires":[]},{"id":"e9ce5ee1.906d6","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"global.set(\"num\",msg.payload.payload.identifier);\nif(msg.payload.payload.identifier==\"+919800374139\" ||msg.payload.payload.identifier==\"ayanghosh974@gmail.com\" )\n{\n    msg.payload=\"Hey Ayan, Good to see you\"\n}\nelse\nmsg.payload=\"Sorry you are not verified!!! Your phone number/email has been send to the admin for verification!!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":240,"wires":[["54d4ea9.edb2314"]]},{"id":"b7cd5817.62feb8","type":"ui_text","z":"5b3be2d.fabbb1c","group":"520f753e.322f2c","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":850,"y":720,"wires":[]},{"id":"78383fb.f3770c","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"msg.payload=Math.floor(Math.random()*(999-100+1)+100);\nmsg.payload=msg.payload.toString()\nglobal.set(\"rand\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":540,"wires":[["2ca9c08f.41429","119f50e9.7aaabf","2d8cc7e9.40a348"]]},{"id":"2ca9c08f.41429","type":"twilio out","z":"5b3be2d.fabbb1c","twilio":"dcfe9245.834eb","twilioType":"sms","url":"","number":"+919800374139","name":"","x":850,"y":540,"wires":[]},{"id":"2f9a57d3.8d9e68","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"var a=global.get(\"rand\");\na=a.toString();\na=a+\".\"\nif(msg.payload==a)\n{\n    msg.payload=\"Thanks for that, Welcome!\"\n}\nelse\n{\n    msg.payload=\"sorry please input the correct password\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":680,"wires":[["b7cd5817.62feb8","1d4fb939.973347"]]},{"id":"2d8cc7e9.40a348","type":"debug","z":"5b3be2d.fabbb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":700,"wires":[]},{"id":"119f50e9.7aaabf","type":"countdown","z":"5b3be2d.fabbb1c","name":"","topic":"","payloadTimerStart":"Y","payloadTimerStartType":"str","payloadTimerStop":"F","payloadTimerStopType":"str","timer":"40","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":550,"y":600,"wires":[["2038b13e.11ae0e"],["9781eb94.4f7d18"]]},{"id":"6c89901e.6b9d","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"msg.payload=Math.floor(Math.random()*(999-100+1)+100);\nmsg.payload=msg.payload.toString();\nglobal.set(\"rand\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":880,"wires":[[]]},{"id":"c4d47a65.5570f8","type":"ui_microphone","z":"5b3be2d.fabbb1c","name":"","group":"520f753e.322f2c","order":2,"width":0,"height":0,"maxLength":5,"maxRecogLength":"4","timeslice":0,"press":"click","mode":"audio","interimResults":false,"x":70,"y":620,"wires":[["bfe59d81.7d4af"]]},{"id":"f7c4c6c6.b870c8","type":"switch","z":"5b3be2d.fabbb1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open the door.","vt":"str"},{"t":"eq","v":"Send again.","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":420,"wires":[["78383fb.f3770c","eb0559f5.2ded38"],["78383fb.f3770c","18c8b7ab.f78d98"],["2f9a57d3.8d9e68","72d740f3.ce4f7"]]},{"id":"9781eb94.4f7d18","type":"ui_text","z":"5b3be2d.fabbb1c","group":"520f753e.322f2c","order":3,"width":6,"height":1,"name":"","label":"The OTP will reset in","format":"{{msg.payload}} sec","layout":"col-center","x":1280,"y":600,"wires":[]},{"id":"a27a5258.0c393","type":"ui_audio","z":"5b3be2d.fabbb1c","name":"","group":"d8596899.c56458","voice":"Google US English","always":true,"x":1040,"y":480,"wires":[]},{"id":"eb0559f5.2ded38","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"msg.payload=\"Sure,please tell me the otp send to your registered mobile\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":340,"wires":[["a27a5258.0c393"]]},{"id":"18c8b7ab.f78d98","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"msg.payload=\"Sure,check your mobile now!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":400,"wires":[["a27a5258.0c393","119f50e9.7aaabf"]]},{"id":"1d4fb939.973347","type":"ui_audio","z":"5b3be2d.fabbb1c","name":"","group":"d8596899.c56458","voice":"Google US English","always":true,"x":1060,"y":640,"wires":[]},{"id":"2038b13e.11ae0e","type":"switch","z":"5b3be2d.fabbb1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"F","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":560,"y":780,"wires":[["6c89901e.6b9d"]]},{"id":"906f81af.036e7","type":"ui_ui_control","z":"5b3be2d.fabbb1c","name":"","events":"all","x":1340,"y":360,"wires":[[]]},{"id":"4df7dfb3.6c46f","type":"countdown","z":"5b3be2d.fabbb1c","name":"","topic":"","payloadTimerStart":"959","payloadTimerStartType":"num","payloadTimerStop":"1","payloadTimerStopType":"num","timer":"10","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":270,"y":180,"wires":[["fe711e82.3711b"],[]]},{"id":"fe711e82.3711b","type":"switch","z":"5b3be2d.fabbb1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":260,"wires":[["906f81af.036e7","7f1aa306.01cccc"]]},{"id":"8426b9ac.6ca978","type":"ui_text","z":"5b3be2d.fabbb1c","group":"51bf0475.ddfd2c","order":0,"width":0,"height":0,"name":"","label":"The door will close in few seconds","format":"{{msg.payload}}","layout":"col-center","x":1700,"y":160,"wires":[]},{"id":"7f1aa306.01cccc","type":"countdown","z":"5b3be2d.fabbb1c","name":"","topic":"","payloadTimerStart":"9449","payloadTimerStartType":"num","payloadTimerStop":"0","payloadTimerStopType":"num","timer":"10","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":1390,"y":140,"wires":[["906f81af.036e7","26379376.72ffcc"],["8426b9ac.6ca978"]]},{"id":"1ade869a.0d07b9","type":"ui_button","z":"5b3be2d.fabbb1c","name":"","group":"d8596899.c56458","order":3,"width":4,"height":1,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"topic","topicType":"msg","x":620,"y":60,"wires":[["4858df0c.1c4ba","f9e39190.b203b"]]},{"id":"a4cc00c.094be","type":"ui_text","z":"5b3be2d.fabbb1c","group":"784c5b3f.cb6174","order":0,"width":0,"height":0,"name":"","label":"Refreshing....","format":"{{msg.payload}}","layout":"col-center","x":1090,"y":80,"wires":[]},{"id":"4858df0c.1c4ba","type":"countdown","z":"5b3be2d.fabbb1c","name":"","topic":"","payloadTimerStart":"9449","payloadTimerStartType":"num","payloadTimerStop":"0","payloadTimerStopType":"num","timer":"5","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":850,"y":100,"wires":[["f9e39190.b203b"],["a4cc00c.094be"]]},{"id":"f9e39190.b203b","type":"ui_ui_control","z":"5b3be2d.fabbb1c","name":"","events":"all","x":880,"y":40,"wires":[[]]},{"id":"54d4ea9.edb2314","type":"ui_text","z":"5b3be2d.fabbb1c","group":"d8596899.c56458","order":5,"width":6,"height":2,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":850,"y":220,"wires":[]},{"id":"5bc25c54.e0b304","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"if(msg.payload.payload.identifier==\"+919800374139\" ||msg.payload.payload.identifier==\"ayanghosh974@gmail.com\" )\n{\n    msg.payload=1;\n}\nelse\nmsg.payload=3;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":140,"wires":[["88982508.2af818"]]},{"id":"88982508.2af818","type":"switch","z":"5b3be2d.fabbb1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":300,"wires":[["4df7dfb3.6c46f","a92dfe35.976f8"],["931cc6e3.9b1338","dc67a10.e20276"]]},{"id":"931cc6e3.9b1338","type":"countdown","z":"5b3be2d.fabbb1c","name":"","topic":"","payloadTimerStart":"959","payloadTimerStartType":"num","payloadTimerStop":"3","payloadTimerStopType":"num","timer":"5","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":450,"y":280,"wires":[["f9e39190.b203b","4858df0c.1c4ba"],[]]},{"id":"c2e4af58.5de5a","type":"inject","z":"5b3be2d.fabbb1c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Please input correct voice commands!","payloadType":"str","x":430,"y":740,"wires":[["b7cd5817.62feb8"]]},{"id":"72d740f3.ce4f7","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"var a=global.get(\"rand\");\na=a.toString();\na=a+\".\"\nif(msg.payload==a)\n{\n    msg.payload=1;\n}\nelse\n{\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":700,"wires":[["986e452b.be95f8"]]},{"id":"986e452b.be95f8","type":"switch","z":"5b3be2d.fabbb1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1210,"y":820,"wires":[[],["2e242ccb.7055f4","26f49a7e.62dba6","6c89901e.6b9d","a92dfe35.976f8"]]},{"id":"2e242ccb.7055f4","type":"ui_ui_control","z":"5b3be2d.fabbb1c","name":"","events":"all","x":1460,"y":740,"wires":[[]]},{"id":"26f49a7e.62dba6","type":"countdown","z":"5b3be2d.fabbb1c","name":"","topic":"","payloadTimerStart":"9449","payloadTimerStartType":"num","payloadTimerStop":"2","payloadTimerStopType":"num","timer":"15","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":1490,"y":800,"wires":[["2e242ccb.7055f4","26379376.72ffcc"],["8426b9ac.6ca978"]]},{"id":"a92dfe35.976f8","type":"http request","z":"5b3be2d.fabbb1c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cloud.boltiot.com/remote/008ba9c8-c2e9-4b83-ad23-6d5f878765cb/digitalWrite?pin=3&state=LOW&deviceName=BOLT14916695","tls":"","persist":false,"proxy":"","authType":"","x":1350,"y":1020,"wires":[[]]},{"id":"ce48101e.58f9e","type":"http request","z":"5b3be2d.fabbb1c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cloud.boltiot.com/remote/008ba9c8-c2e9-4b83-ad23-6d5f878765cb/digitalWrite?pin=3&state=HIGH&deviceName=BOLT14916695","tls":"","persist":false,"proxy":"","authType":"","x":1730,"y":480,"wires":[[]]},{"id":"26379376.72ffcc","type":"switch","z":"5b3be2d.fabbb1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1490,"y":480,"wires":[["ce48101e.58f9e"],["ce48101e.58f9e"]]},{"id":"dc67a10.e20276","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"var a=global.get(\"num\");\nmsg.payload=\"A person tried to unlock the door with SAWO OTP with this number--\"+a;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":320,"wires":[["2ca9c08f.41429"]]},{"id":"617ac6f3.f08e48","type":"ui_text_input","z":"5b3be2d.fabbb1c","name":"","label":"ADD NUMBER ","tooltip":"","group":"fc657953.1b728","order":1,"width":4,"height":1,"passthru":true,"mode":"text","delay":"400","topic":"topic","topicType":"msg","x":940,"y":1100,"wires":[["8a964179.2ae47","9c413798.415ba8"]]},{"id":"43cac0fd.db6a5","type":"ui_text_input","z":"5b3be2d.fabbb1c","name":"","label":"Delete number","tooltip":"","group":"fc657953.1b728","order":2,"width":4,"height":1,"passthru":true,"mode":"text","delay":"400","topic":"topic","topicType":"msg","x":1000,"y":1480,"wires":[["62ceab02.2a3984"]]},{"id":"3129ce97.47de32","type":"cloudant out","z":"5b3be2d.fabbb1c","name":"","cloudant":"","database":"sawo","service":"node-red-nzdsw-2021--cloudant-1628093501762-94877","payonly":true,"operation":"delete","x":850,"y":1280,"wires":[]},{"id":"62ceab02.2a3984","type":"cloudant in","z":"5b3be2d.fabbb1c","name":"","cloudant":"","database":"sawo","service":"node-red-nzdsw-2021--cloudant-1628093501762-94877","search":"_all_","design":"","index":"","x":1030,"y":1400,"wires":[["b39e4349.ce902"]]},{"id":"9c413798.415ba8","type":"debug","z":"5b3be2d.fabbb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":1040,"wires":[]},{"id":"b39e4349.ce902","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"var a=global.get(\"numu\");\nvar tot_count=msg.payload.length;\nvar dd;\nfor(i=0;i<tot_count;i++)\n{\n    if (a==msg.payload[i].payload)\n    {\n        dd=i;\n    }\n}\nglobal.set(\"id\",msg.payload[dd]._id);\nglobal.set(\"rev\",msg.payload[dd]._rev);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":1360,"wires":[[]]},{"id":"8a964179.2ae47","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"global.set(\"numu\",msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":1240,"wires":[[]]},{"id":"ae5ea967.837408","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"var id=global.get(\"id\");\nvar rev=global.get(\"rev\");\nmsg._id=id;\nmsg._rev=rev;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":1520,"wires":[["3129ce97.47de32","42b92197.eec98"]]},{"id":"6f7346f5.8181d8","type":"cloudant out","z":"5b3be2d.fabbb1c","name":"","cloudant":"","database":"sawo","service":"node-red-nzdsw-2021--cloudant-1628093501762-94877","payonly":true,"operation":"insert","x":730,"y":980,"wires":[]},{"id":"f26c0f06.ea728","type":"switch","z":"5b3be2d.fabbb1c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1350,"y":1240,"wires":[["6f7346f5.8181d8"]]},{"id":"385a7aaa.8bad26","type":"cloudant in","z":"5b3be2d.fabbb1c","name":"","cloudant":"","database":"sawo","service":"node-red-nzdsw-2021--cloudant-1628093501762-94877","search":"_all_","design":"","index":"","x":1170,"y":1160,"wires":[["672ed439.f0ce8c"]]},{"id":"672ed439.f0ce8c","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"var a=global.get(\"numu\");\nvar tot_count=msg.payload.length;\nvar dd=1;\nfor(i=0;i<tot_count;i++)\n{\n    if (a==msg.payload[i].payload)\n    {\n        dd=0;\n        \n    }\n}\nif(dd==0)\n{\n    msg.topic=0\n}\nelse\n{\n    msg.topic=1\n    msg.payload=a;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":1180,"wires":[["f26c0f06.ea728"]]},{"id":"ac2b9c34.b6488","type":"ui_button","z":"5b3be2d.fabbb1c","name":"","group":"fc657953.1b728","order":6,"width":2,"height":1,"passthru":false,"label":"DELETE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":1060,"y":1540,"wires":[[]]},{"id":"a10c4b1a.1c4d18","type":"ui_button","z":"5b3be2d.fabbb1c","name":"","group":"fc657953.1b728","order":4,"width":2,"height":1,"passthru":false,"label":"SAVE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":970,"y":1180,"wires":[["385a7aaa.8bad26"]]},{"id":"1213ca40.ead386","type":"inject","z":"5b3be2d.fabbb1c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1050,"y":1660,"wires":[["6633eeb3.3a988"]]},{"id":"6633eeb3.3a988","type":"cloudant in","z":"5b3be2d.fabbb1c","name":"","cloudant":"","database":"sawo","service":"node-red-nzdsw-2021--cloudant-1628093501762-94877","search":"_all_","design":"","index":"","x":1230,"y":1660,"wires":[["9c413798.415ba8"]]},{"id":"42b92197.eec98","type":"debug","z":"5b3be2d.fabbb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":1160,"wires":[]},{"id":"cbcc4462.5b7a78","type":"inject","z":"5b3be2d.fabbb1c","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1200,"y":1460,"wires":[["ae5ea967.837408"]]},{"id":"97dfb986.dc6ac8","type":"cloudant out","z":"5b3be2d.fabbb1c","name":"","cloudant":"","database":"sawo","service":"node-red-nzdsw-2021--cloudant-1628093501762-94877","payonly":true,"operation":"insert","x":360,"y":1520,"wires":[]},{"id":"5e0557a6.40d728","type":"inject","z":"5b3be2d.fabbb1c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ayanghosh974@gmail.com","payloadType":"str","x":270,"y":1600,"wires":[["97dfb986.dc6ac8"]]},{"id":"9a27d040.c4679","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"msg.payload=msg.payload.text\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":980,"wires":[["f7c4c6c6.b870c8","df450911.40a6a8"]]},{"id":"e55cea0e.bb0378","type":"http request","z":"5b3be2d.fabbb1c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.assemblyai.com/v2/transcript","tls":"","persist":false,"proxy":"","authType":"","x":130,"y":1100,"wires":[["1cf3049.2ce1dfb"]]},{"id":"bfe59d81.7d4af","type":"change","z":"5b3be2d.fabbb1c","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"authorization\":\"63bf724d31ac4b8784143fce713c520c\",\"content-type\":\"application/json\"}","tot":"json"},{"t":"set","p":"data","pt":"msg","to":"msg.payload","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":980,"wires":[["9a5134fc.fbf988"]]},{"id":"5bfffe03.3149f","type":"http request","z":"5b3be2d.fabbb1c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":940,"wires":[["9a27d040.c4679","df450911.40a6a8"]]},{"id":"9a5134fc.fbf988","type":"http request","z":"5b3be2d.fabbb1c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.assemblyai.com/v2/upload","tls":"","persist":false,"proxy":"","authType":"","x":110,"y":1020,"wires":[["bf894efc.90409"]]},{"id":"bf894efc.90409","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"msg.payload={\"audio_url\":msg.payload.upload_url }\nmsg.headers={ \n    \"authorization\": \"63bf724d31ac4b8784143fce713c520c\",     \"content-type\": \"application/json\" \n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":1060,"wires":[["e55cea0e.bb0378"]]},{"id":"1cf3049.2ce1dfb","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"global.set(\"url\",\"https://api.assemblyai.com/v2/transcript/\"+msg.payload.id);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":1140,"wires":[["c46a7eae.b20bf"]]},{"id":"ad505e26.7faf","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"msg.url=global.get(\"url\");\nmsg.headers={ \n    \"authorization\": \"63bf724d31ac4b8784143fce713c520c\",     \"content-type\": \"application/json\" \n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":880,"wires":[["5bfffe03.3149f"]]},{"id":"c46a7eae.b20bf","type":"countdown","z":"5b3be2d.fabbb1c","name":"","topic":"","payloadTimerStart":"1","payloadTimerStartType":"num","payloadTimerStop":"0","payloadTimerStopType":"num","timer":"10","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":130,"y":1180,"wires":[["dafa28e4.ec4108"],[]]},{"id":"df450911.40a6a8","type":"debug","z":"5b3be2d.fabbb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":1220,"wires":[]},{"id":"dafa28e4.ec4108","type":"switch","z":"5b3be2d.fabbb1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":1160,"wires":[["ad505e26.7faf"]]},{"id":"25d02ead.6860c2","type":"http request","z":"5b3be2d.fabbb1c","name":"Send a request to get labels","method":"POST","ret":"obj","url":"","x":1740,"y":1080,"wires":[["f185e02f.8a7a5","bbc70ce5.99c8f","dd169227.9a5aa","8425893e.e0cd58"]]},{"id":"809e2eb1.450a9","type":"function","z":"5b3be2d.fabbb1c","name":"Make a request for the Google Cloud Vision API to get labels","func":"var image = {content: msg.payload.toString('base64')};\nvar features = {type: 'TEXT_DETECTION', maxResults: 3};\nvar imageContext = {languageHints: 'ja'};\nvar request = {image: image, features: features, imageContext: imageContext};\nvar requests = {requests: request};\nmsg.payload = requests;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2080,"y":840,"wires":[["66a5bd88.713874"]]},{"id":"66a5bd88.713874","type":"change","z":"5b3be2d.fabbb1c","name":"Set url and headers","rules":[{"t":"set","p":"url","pt":"msg","to":"https://vision.googleapis.com/v1/images:annotate?key=AIzaSyBRiWcXscku2rKJYAUEb5IzdTi-5XzVoPQ","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"Content-Type: application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":1040,"wires":[["25d02ead.6860c2"]]},{"id":"f185e02f.8a7a5","type":"function","z":"5b3be2d.fabbb1c","name":"Report found labels","func":"// To skip messages like { \"responses\": [ {} ] }\nif (Object.keys(msg.payload.responses[0]).length < 1) {\n    return null;\n}\n\nvar labels = 'labels: ';\nvar labelAnnotations = msg.payload.responses[0].labelAnnotations;\nfor (var i = 0; i < labelAnnotations.length; i++) {\n    labels += labelAnnotations[i].description;\n    labels +=' (' + labelAnnotations[i].score + '), ';\n}\n\nmsg.payload = labels.slice(0, labels.length - 2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":1160,"wires":[["bbc70ce5.99c8f"]]},{"id":"8fd14432.52d318","type":"comment","z":"5b3be2d.fabbb1c","name":"Replace 'API_KEY' with your API key","info":"","x":1970,"y":1040,"wires":[]},{"id":"46bce472.8a41dc","type":"comment","z":"5b3be2d.fabbb1c","name":"Replace LABEL_DETECTION with another feature type if needed","info":"","x":2310,"y":1000,"wires":[]},{"id":"bbc70ce5.99c8f","type":"debug","z":"5b3be2d.fabbb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2390,"y":1260,"wires":[]},{"id":"756a4110.ae43e","type":"fileinject","z":"5b3be2d.fabbb1c","name":"","x":2660,"y":1120,"wires":[[]]},{"id":"dd169227.9a5aa","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"msg.payload=msg.payload.responses[0].textAnnotations[1].description+msg.payload.responses[0].textAnnotations[2].description\nif(msg.payload==\"XX88XY8888\")\n{\n    msg.payload=1;\n}\nelse\nmsg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2260,"y":1100,"wires":[["986e452b.be95f8","bbc70ce5.99c8f","eade400e.0887e"]]},{"id":"8425893e.e0cd58","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"msg.payload=msg.payload.responses[0].textAnnotations[1].description+msg.payload.responses[0].textAnnotations[2].description\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2130,"y":1280,"wires":[["bbc70ce5.99c8f"]]},{"id":"d3c91301.0dc6f","type":"ui_template","z":"5b3be2d.fabbb1c","group":"135c0020.cb4c5","name":"","order":0,"width":0,"height":0,"format":"   <div class=\"container\">\n\t\t<div class=\"row\">\n\t\t\t<div class=\"col-sm-3\">\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-3\">\n\t\t\t\t\n\t\t\t\t\t<div class=\"custom-file\">\n\t\t\t\t\t\n\t\t\t\t\t\t<input type=\"file\" name=\"pic\" accept=\"image/*\" onchange=\"readURL(this);\" class=\"custom-file-input\" id=\"customFile\">\n\t\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t\t</div>\n\t\t\t\t\t<br>\n\t\t\t\t\t<div class=\"imgdiv\">\n\t\t\t\t\t\t<img width=\"160\" height=\"280\" src=\"#\" id=\"blah\" class=\"rounded\" alt=\"Selected Image\">\n\t\t\t\t\t</div>\n\t\t\t\t\t<!--<md-button ng-click=\"send({payload:action()})\">\n\t\t\t\t\t\tPredict\n\t\t\t\t\t</md-button>-->\n\t\t\t\t\t<button type=\"submit\" ng-click=\"send({payload:action()})\" class=\"btn btn-success\">Submit</button>\n\t\t\t\t\n\t\t\t\t\n\t\t\t</div>\n\t\t</div>\n\t\t\n</body>\n</html>\n<script>\nvar x=\"\";\n    function readURL(input) {\n        if (input.files && input.files[0]) {\n            var reader = new FileReader();\n\n            reader.onload = function (e) {\n                $('#blah')\n                    .attr('src', e.target.result)\n                    .width(150)\n                    .height(200);\n            };\n\n            reader.readAsDataURL(input.files[0]);\n            x= input.files[0]\n\n            \n            \n\n        }\n    }\n    function getdata(data)\n\t{\n\t\t var html = '';\n            if(data != 0)\n\t\t\t{\n\t\t\t\t$.each(data, function(i){\n\t\t\t\tvar row = data[i];\n\t\t\t\tconsole.log(row);\n\t\t\t\thtml += '<tr>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.class;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.score;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '</tr>';\n\t\t\t});\n\t\t\t}\n\t\t\telse\n\t\t\t\thtml+=\"<div>No Data</div>\";\n\t\t\t$('#scoretable').html(html);\n\t}\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n            getdata(data);\n\n        });\n    })(scope);\n    \n    \n// or overwrite value in your callback function ...\nthis.scope.action = function() { return x; }\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1720,"y":1280,"wires":[["bbc70ce5.99c8f","809e2eb1.450a9"]]},{"id":"362555e7.75360a","type":"ui_text","z":"5b3be2d.fabbb1c","group":"135c0020.cb4c5","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1970,"y":1400,"wires":[]},{"id":"eade400e.0887e","type":"switch","z":"5b3be2d.fabbb1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1590,"y":1380,"wires":[["80acbe37.5f477"],["bd86ea92.256d78"]]},{"id":"bd86ea92.256d78","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"msg.payload=\"Access granted!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":1360,"wires":[["362555e7.75360a"]]},{"id":"80acbe37.5f477","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"msg.payload=\"Access denied!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":1420,"wires":[["362555e7.75360a"]]},{"id":"2658c0d8.91a4f","type":"inject","z":"5b3be2d.fabbb1c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"please input the car number plate","payloadType":"str","x":1600,"y":1500,"wires":[["362555e7.75360a"]]},{"id":"d8596899.c56458","type":"ui_group","name":"Open door using SAWO","tab":"ae47cffa.963c78","order":1,"disp":true,"width":"6","collapse":false},{"id":"520f753e.322f2c","type":"ui_group","name":"","tab":"6cd21733.279a78","order":1,"disp":true,"width":"6","collapse":false},{"id":"dcfe9245.834eb","type":"twilio-api","name":"","sid":"AC99f5d556e4f47120b743d8a6b32d361c","from":"+19405390195"},{"id":"51bf0475.ddfd2c","type":"ui_group","name":"","tab":"279d8078.dcf29","order":2,"disp":true,"width":"6","collapse":false},{"id":"784c5b3f.cb6174","type":"ui_group","name":"","tab":"b95fcd45.07afb","order":1,"disp":true,"width":"6","collapse":false},{"id":"fc657953.1b728","type":"ui_group","name":"admin1","tab":"5de606b8.370698","order":3,"disp":true,"width":8,"collapse":false},{"id":"135c0020.cb4c5","type":"ui_group","name":"Group 1","tab":"f13bbdd8.072e4","order":1,"disp":true,"width":6},{"id":"ae47cffa.963c78","type":"ui_tab","name":"Home","icon":"dashboard","order":2},{"id":"6cd21733.279a78","type":"ui_tab","name":"Tab Y","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"279d8078.dcf29","type":"ui_tab","z":"5b3be2d.fabbb1c","name":"New Test","icon":"dashboard","order":3},{"id":"b95fcd45.07afb","type":"ui_tab","name":"Tab X","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"5de606b8.370698","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f13bbdd8.072e4","type":"ui_tab","name":"Tab 8","icon":"dashboard","order":8}]